
@{
    ViewData["Title"] = "Home";
 }
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to bookstore</h1>
        <p class="lead text-muted">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        </p>
        <p> <a href="#" class="btn btn-danger">Search Book</a></p>

        
    </div>
</section>
<div class="container">
    <div class="row">

        @foreach (BookModel book in Model)
        {
            <a asp-route="bookDetails" asp-route-id="@book.Id">
                <div class="card" style="width:17rem;">
                    <img class="card-img-top" src="~/img/@book.Image" alt="Card image top">
                    <div class="card-body">
                        <h5 class="card-title">Name: @book.BookName</h5>
                        <h6 class="card-subtitle">Auther Name: @book.AutherName</h6>
                        <h6 class="card-title">Language: @book.LanguageName</h6>
                    </div>
                </div>
            </a>
        }


    </div>
</div>
